html,
body {
	font-family: Arial, sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
}

.container {
	height: 100%;
	position: relative;
}

#menu {
	background-color: #000;
	color: #cdcdcd;
	z-index: 1;
	position: fixed;
	float: left;
	height: 100%;
	width: 300px;
	opacity: 0.9;
	border: 1px solid #5e8792;
	border-left: none;
	transition: transform, 1s;
}

.menu-icon {
	background-color: inherit;
	color: #5e8792;
	position: absolute;
	top: -1px;
	right: -38px;
	padding: 0 5px;
	border: inherit;
	border-left: none;
}

.menu-icon:hover {
	cursor: pointer;
}

h2 {
	font-family: 'Righteous', cursive;
	color: #5e8792;
}

input {
	padding: 5px;
}

.menu-info {
	height: 100%;
	padding-left: 40px;
}

.places-list {
	list-style-type: none;
	height: 80%;
	overflow: auto;
	padding: 0;
	font-size: 0.8em;
}

.places-list li {
	margin: 15px 0;
}

.places-list li:hover {
	cursor: pointer;
	color: white;
}

#map {
	height: 100%;
}