html,
body {
	font-family: Arial, sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
}

.container {
	height: 100%;
	position: relative;
}

#menu {
	background-color: #ececec;
	z-index: 1;
	position: fixed;
	float: left;
	height: 100%;
	width: 300px;
	opacity: 0.7;
	border: 1px solid #aaa;
	transition: transform, 1s;
}

.menu-icon {
	background-color: #ececec;
	position: absolute;
	top: -1px;
	right: -53px;
	padding: 0 5px;
	border: 1px solid #aaa;
}

.menu-info {
	height: 100%;
	padding-left: 40px;
}

.places-list {
	list-style-type: none;
	height: 80%;
	overflow: auto;
	padding: 0;
}

.places-list li {
	margin: 10px 0;
}

#map {
	height: 100%;
}