html,
body {
	font-family: Arial, sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
}

.container {
	height: 100%;
	position: relative;
}

.menu {
	color: #6e6967;
	z-index: 1;
	position: fixed;
	float: left;
	height: 100%;
	width: 300px;
	transition: transform, 1s;
}

.menu-icon {
	background-color: #d3cdcb;
	color: #6e6967;
	position: absolute;
	top: 0;
	right: -37px;
	padding: 0 5px;
	border: 2px solid #938b89;
	border-left: none;
}

.menu-icon:hover {
	cursor: pointer;
}

.titles {
	border: 2px solid #938b89;
	border-left: none;
	background-color: #d3cdcb;
	padding: 20px 0 20px 40px;
}

h2 {
	font-family: 'Righteous', cursive;
	color: #3e3b3b;
	margin: 5px 0;
	width: 80%;
	border-bottom: 1px solid #3e3b3b;
}

span {
	font-size: 0.8em;
	font-style: italic;
}

input {
	margin: 10px 0;
	padding: 5px;
}

.places-list {
	background-color: #ececec;
	list-style-type: none;
	height: 75%;
	overflow: auto;
	margin: 0;
	padding: 0;
	padding-left: 40px;
	font-size: 0.8em;
}

.places-list li {
	margin: 15px 0;
}

.places-list li:hover {
	cursor: pointer;
	color: white;
}

#map {
	height: 100%;
}